<ion-view view-title="Events">
	<ion-content>
		<div class="list">

  <label class="item item-input">
   	<span class="input-label">Start Date</span>
    <input type="date" ng-model="example.date2">
  </label>
  <label class="item item-input">
     <span class="input-label">End Date</span>
    <input type="date" ng-model="example.date3">
	</label>
		</div>
	  	<button ng-click=findDate(example) class="button"> Sort by date</button>
			

		<div class="list card" ng-repeat="event in events| myfilter:toutc(example.date2):toutc(example.date3)">
			<div class="item item-avatar">

				<img src="{{event.image_url}}">

				<h2>{{event.title}}</h2>
				<p>{{event.start_at.__text}}</p>
				<p>{{event.address}}, {{event.city}}</p>

			</div>

			<div class="item item-body">
				<h1> {{items.title}}</h1>
				<p ng-bind-html="event.description.__cdata"> </p>
			</div>
		</div>
	</ion-content>
</ion-view>