<ion-view view-title="Home">
  <ion-content class="padding">
    <h2>Welcome to Goodreads Api</h2>
    <p>
   This is an application for the goodreads api service to fetch some data from the given goodreads api </p>
    <p>
      I will be using this Application as part of my porfolio to show user's my work with angular.
    </p>
    <p>
    This was developer in my HTML5 Mobile Application Course in Semester 3 at Algonquin College in Mobile Application Design and Development
    </p>
    <p>
  If you like what you see feel free to contact me here is some of my information <a href=""> wils0751@algonquinlive.com</a>
 <br><a href='www.wils0751.github.io/ShannonsWebsite/'> Here is my website</a>
  <br>
   Shannon Wilson <br>
   613-827-5292
    </p>
  </ion-content>
</ion-view>
